{
  "*.{js,ts,tsx,json}": [
    "biome check --files-ignore-unknown=true",
    "biome check --apply --no-errors-on-unmatched",
    "biome check --apply --organize-imports-enabled=false --no-errors-on-unmatched",
    "biome check --apply-unsafe --no-errors-on-unmatched",
    "biome format --write --no-errors-on-unmatched",
    "biome lint --apply --no-errors-on-unmatched",
  ],
  "*": [
    "biome check --no-errors-on-unmatched --files-ignore-unknown=true",
  ]
}