/* NOTION CSS OVERRIDE */

.notion {
  @apply text-gray-600 dark:text-gray-300;
  overflow-wrap: break-word;
}
.notion,
.notion-text,
.notion-quote,
.notion-h-title {
  @apply leading-8;
  @apply p-0;
  @apply my-3;
}
.notion-page-link {
  color: inherit;
}

svg.notion-page-icon {
  @apply hidden;
}

svg + .notion-page-title-text {
  @apply border-b-0;
}

.notion-bookmark {
  @apply border-[1px];
  @apply border-gray-100;
  color: inherit;
}

.notion-bookmark .notion-bookmark-title,
.notion-bookmark .notion-bookmark-link div {
  @apply text-gray-900 dark:text-gray-200;
}

.notion-bookmark .notion-bookmark-description {
  @apply text-gray-600 dark:text-gray-300;
}

.notion .notion-code {
  border-radius: 5px;
  padding: 12px;
  line-height: 150% !important;
}

.notion-code > code {
  @apply text-gray-900;
}

pre[class*='language-'] {
  line-height: inherit;
}

.notion-bookmark:hover {
  @apply border-indigo-400;
}
.notion-viewport {
  z-index: -10;
}
.notion-asset-caption {
  @apply text-center;
  @apply text-gray-500 dark:text-gray-400;
}
.notion-full-width {
  @apply px-0;
}
.notion-page {
  @apply w-auto;
  @apply px-0;
}
.notion-quote {
  padding: 0.2em 0.9em;
}
.notion-collection-row {
  @apply hidden;
}
a.notion-link {
  @apply dark:text-indigo-200;
}
.notion-list li {
  padding: 0;
}
.notion-list > li::marker {
  @apply text-gray-500 dark:text-gray-400;
}


/* About ページの特定の画像のみ適応 */
.notion-block-82c0327d49964498ad3188d9c0d169b3 > div > img {
  animation: fluid 24s ease 0s infinite;
  border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
}

.notion-block-187cbc6f209a4feb84d375192e98815e > div > img {
  animation: fluid 24s ease 0s infinite;
  border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
}

@keyframes fluid {
  0%, 100% {
      border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
      border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
      border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
      border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
      border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
      border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
      border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}